reflectionExer/.vs/
reflectionExer/Ruanmou.DB.SqlServer/obj/Debug/Ruanmou.DB.SqlServer.csproj.FileListAbsolute.txt
reflectionExer/Ruanmou.DB.SqlServer/obj/
reflectionExer/Ruanmou.Model/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
reflectionExer/Ruanmou.Model/obj/
reflectionExer/reflectionExer/bin/
reflectionExer/reflectionExer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
reflectionExer/reflectionExer/obj/
reflectionExer/Ruanmou.DB.Oracle/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
reflectionExer/Ruanmou.DB.Oracle/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
reflectionExer/Ruanmou.DB.Oracle/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
reflectionExer/Ruanmou.DB.Oracle/obj/Debug/Ruanmou.DB.Oracle.csproj.CopyComplete
reflectionExer/Ruanmou.DB.Interface/obj/Debug/Ruanmou.DB.Interface.csproj.FileListAbsolute.txt
reflectionExer/Ruanmou.DB.Interface/obj/
reflectionExer/Ruanmou.DB.MySql/obj/
