<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <!--<add key="IDBHelperConfig" value="Ruanmou.DB.MySql.MySqlHelper, Ruanmou.DB.MySql"/>-->
      <!--Change MySql to sql/Oracle/ when necessary-->
      <add key="IDBHelperConfig" value="Ruanmou.DB.MySql.MySqlHelper,Ruanmou.DB.MySql"/>
    </appSettings>
</configuration>